body {
    background: linear-gradient(to bottom right, #f5d0d9, white);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 2000px;
    font-family: 'Manrope', sans-serif;
}

/* navbar css */

#header-container {
    margin: 0;
    background-color: white;
    width: 100%;
    height: 80px;
    text-align: center;
    position: fixed;
}

#navbar {
    width: 60%;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
    padding: 1px;
}

#navbar > div:first-child {
    flex-basis: 300px;
}

#navbar .nav-logo a {
    text-decoration: none;
}

#navbar .nav-logo a img {
    width: 40px;
}

#navbar .navContainer .menu {
    display: inline-block;
    height: 40px;
}

#navbar .navContainer .menu a {
    text-decoration: none;
    color: gray;
}

#navbar .navContainer .menu a:hover {
    transition: background-color 0.3s;
    color: black;
}

#navbar .navContainer .user-icon {

}

#navbar .navContainer .user-icon button {
    cursor: pointer;
    border-radius: 35px;
    border: 0px;
    margin-top: 10px;
}

#navbar .navContainer .user-icon img {
    width: 30px;
    height: 30px;
}

#navbar .navContainer .login-button {
    background-color: #ff3366;
    border-radius: 10px;
    width: 75px;
    height: 40px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
}

#navbar .navContainer .login-button:hover {
    transition: background-color 0.2s;
    background-color: #fd5c80;
}

#navbar .navContainer .login-button a {
    text-decoration: none;
    color: black;
}

/* section-title */

#section-title {
    text-align: center;
}

.section-title {
    text-align: left;
    display: inline-block;
    width: 60%;
    margin-top: 70px;
    border-bottom: 1px solid #dfcfd3;
}

.section-title h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.section-title .search {
    display: flex;
}

.section-title .search input {
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    background-color: #dfcfd3;
    width: 100%;
    font-size: 16px;
}

.section-title .search button {
    flex-basis: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #ff3366;
    margin-left: 15px;
    cursor: pointer;
}

.section-title .search button:hover {
    transition: background-color 0.2s;
    background-color: #fd5c80;
}

.section-title .search button img {
    width: 45px;
}

.section-title .hashtag {
    margin-bottom: 30px;
}

.section-title .hashtag .hashtag-items {
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #dfcfd3;
    margin: 17px 10px 0px 0px;
    padding: 1px 10px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
}

.section-title .hashtag .hashtag-items span {
    color: #f94673;
}

.section-title .hashtag .hashtag-items p {
    margin-left: 5px;
}

/* main */

#main {
    margin: 30px auto;
    width: 60%;
    display: flex;
}

#main .servers {
    flex-basis: 60%;
}

#main .title {
    display: flex;
}

.title a {
    margin-right: 30px;
    text-decoration: none;
    color: gray;
}

.title a:first-child {
    color: black;
    border-bottom: 1px solid #fd5c80;
}

.title h2 {
    font-size: 20px;
    font-weight: 600;
}

#main .rising {
    flex-basis: 40%;
}