/* color define */

:root {
    --pink-color: rgb(255, 51, 102);
}

/* body secsion */

body {
    background: linear-gradient(to bottom right, #f9d2d9, 35%, white);
    background-repeat: no-repeat;
    margin: 0;
    color: white;
    font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#main, #footer, #gnb, #search {
    display: block;
    margin: 0 auto;
    width: 1344px;
}

/* header section */

#main-header {
    height: 90px;
    width: 100%;
}

#gnb {
    color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 24.68%, 63.26%, 12.05%
}

.header__menu img {
    width: 35px;
    height: 42px;
}

.header__menu img:hover {
    transition: ease 0.2s;
    width: 36px;
    height: 43px;
}

.header__menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__menu > li {
    margin-left: 16px;
    list-style: none;
}

.header__menu a {
    padding: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);
}

.header__menu > a:nth-child(2){
    margin-left: 16px;
}

.header__menu--dropbox {
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-weight: 600;
}

.header__menu a:hover, .header__menu--dropbox:hover {
    color: black;
}

.header__blank {
    width: 100%;
}

.header__auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header__auth--user {
    display: flex;
    background-color: #dfd0d4;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.header__auth--user img {
    width: 30px;
    height: 30px;
}

.header__auth--login {
    background-color: var(--pink-color);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
}

/* search section */

#search {
    padding: 40px 0 32px 0;
}

/* main section */

#main {
    border: 1px solid blue;
    height: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5%;
}

.discord-bots {
}

.rising-games {
}

@media screen and (max-width: 1344px) {
    #main, #footer, #gnb, #search {
        margin: 0 auto;
        width: 100%;
    }
    
}

@media screen and (max-width: 760px) {
    .rising-games {
        display: none;
    }

    #main {
        grid-template-columns: 1fr;
    }
}