body {
    background-color:blanchedalmond;
}

.btn {
  cursor: pointer;
}

h1 {
  color:chocolate;
}

.clicked {
  color:blueviolet;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}